@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  .text-fill {
    -webkit-text-fill-color: #f3f4e5;
  }
  .text-fill-yellow {
    -webkit-text-fill-color: #fcb43e;
  }
  .text-stroke {
    -webkit-text-stroke-color: #000;
  }
  .text-stroke {
    -webkit-text-stroke-width: 1px;
  }
}
